
.strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.point:last-of-type {
  margin: 0 !important;
}

.point {
  background: #ddd;
  border-radius: 3px;
  display: inline-block;
  height: 35px;
  margin-right: 5px;
  width: 62px;
  margin-top: 15px;
  z-index: 1;
  backdrop-filter: blur(15px);
  box-shadow: 3px 6px 8px var(--darken), -2px -2px 12px var(--lighten);
}

.password {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  animation: fadeIn 2s ease-out;
}


::placeholder {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
