<div class="password">
  <show-hide-password size="sm" [btnOutline]="false">
    <input
      type="password"
      placeholder="Enter password"
      (keyup)="onKey($event)"
    />
  </show-hide-password>
  <div class="strength-container">
    <ul class="strengthBar">
      <li class="point" [style.background-color]="easyColor"></li>
      <li class="point" [style.background-color]="mediumColor"></li>
      <li class="point" [style.background-color]="strongColor"></li>
    </ul>
  </div>
</div>
