.strengthBar {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: 2px;
  background: rgba(
    255,
    255,
    255,
    0.2
  ); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
}

.point:last-of-type {
  margin: 0 !important;
}

.point {
  background: #ddd;
  border-radius: 3px;
  display: inline-block;
  height: 35px;
  margin-right: 5px;
  width: 62px;
  margin-top: 15px;
  z-index: 1;
  box-shadow: 3px 6px 8px var(--darken), -2px -2px 12px var(--lighten);
}

.password {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  animation: fadeIn 2s ease-out;
}
input {
  border: none;
  box-shadow: 3px 6px 8px var(--darken), -2px -2px 12px var(--lighten);
  border-radius: 8px;
  padding: 10px;
  width: 60%;
  font-size: 16px;
  /* font-weight: 500; */
  color: #fff;
  background-color: var(--lighten);
  outline: none;
  transition: box-shadow 0.3s ease-in-out, transform 0.8s ease-in-out;

  &:focus {
    background-color: #2fb4e5;
    transform: scale(1.04);
    box-shadow: 0px 0px 8px var(--darken), 0px 2px 12px var(--lighten);
  }
}

.input-group {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:focus {
    background-color: #2fb4e5;
    transform: scale(1.1);
    box-shadow: 0px 0px 8px var(--darken), 0px 2px 12px var(--lighten);
  }
}

::placeholder {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
